body{
    font-family: sans-serif;
}

h1{
    color: black;
    text-align: center;
}

button {
    background: pink;
    color: black;
    border: none;
    display: block;
    width: 200px;
    height: 48px;
    margin: auto;
    position: relative;
    margin-top: 32px;
}

.charrnn *{
    text-align: center;
}

canvas {
    display:block;
    margin: auto;
 }

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
