body{
  font-family: 'Roboto Mono';
    margin: 0;

}

nav {
  background-color: rgb(85,151,153); 
  color: white;

}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  padding: 25px;
  margin: 0 40px;
  
}

nav li:hover {
  background-color: #FFFFFF44;
}

nav a {
  color: inherit;
  text-decoration: none;
}

h1{
    color: black;
    text-align: center;
    animation: article-load 300ms ease-in var
    (--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20x);
    
}

button {
    background: pink;
    color: black;
    border: none;
    display: block;
    width: 200px;
    height: 48px;
    margin: auto;
    position: relative;
    margin-top: 32px;
}


canvas {
    display:block;
    margin: auto;
 }

p {
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

