@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff2') format('woff2'),
      url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'),
      url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff2') format('woff2'),
      url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.woff2') format('woff2'),
      url('../fonts/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
      url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Inter';
  margin: 0;
  color: #333333;
}

.charrnn{
  position: absolute;
  top: 800px;
  display: block;
  align-self: center;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 1272px;
  margin: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.title{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title p{
  max-width: 600px;
  align-self: center;
  margin-top: 0;
}

footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 1272px;
}

footer ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

footer ul li{
  flex: 1;
  list-style: none;
  margin: 0 24px;
}

.buttonscontainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 16px;
}

#generatebutton, #savebutton{
  display: flex;
  width: 50%;
  justify-content: center;
}

#savebutton{
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: rgb(85,151,153);  
  color: white;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav li {
  padding: 25px;
  margin: 0 40px;
}

nav li:hover {
  background-color: #FFFFFF44;
}

nav a {
  color: inherit;
  text-decoration: none;
}

h1{
    color: black;
    text-align: center;
    animation: article-load 300ms ease-in var
    (--article-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20x);    
}

button {
    background: white;
    color: black;
    border: 2px solid;
    display: block;
    width: 200px;
    height: 48px;
    position: relative;
    font-weight: bold;
}


canvas {
    display:block;
    margin: auto;
 }

p {
  text-align: center;
  animation-duration: 3s;
  /* animation-name: slidein; */
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* will add disappearance animation later*/

.disappear{
  opacity: 0;
}

